### 해당 파일명을 auth.properties 로 변경하시고 환경변수를 넣어주셔야 정상 동작합니다.

naver.oauth2.client.client-id=
naver.oauth2.client.client-secret=
kakao.oauth2.client.client-id=
kakao.oauth2.client.client-secret=
auth.jwt.secret=
oauth2.jwt.access-token-expire-day=
oauth2.jwt.access-token-expire-hour=
oauth2.jwt.access-token-expire-min=
oauth2.jwt.access-token-expire-sec=
oauth2.jwt.refresh-token-expire-day=
oauth2.jwt.refresh-token-expire-hour=
oauth2.jwt.refresh-token-expire-min=
oauth2.jwt.refresh-token-expire-sec=
